:root{
    --background: rgba(46, 50, 63, .85);
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

/* Core Styles*/

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #6F737F;
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

li{
    margin-top: 1rem;
}

p{
    line-height: 1.5;
}

.hero-background{
    color: white;
    background: #3B4050;
    width: 100%;
    min-height: 560px;
    padding-top: 4rem;
}

.two_section_background{
    background-color: #E5E4E2;
    text-align: center;
    min-height: 770px;
    padding: 2px 0;
}

.footer-background{
   background: #3B4050;
   color:#6F737F;
   min-height: 720px;
   padding: 1rem 2rem;
}

.h1_hero{
    font-size: 3.5rem;
    font-family: 'Oswald', sans-serif;
    line-height: 1.1;
    margin: 0 auto;
    padding: 2rem 0;
}

.h1_gold{
    color: #A59678; 
}

.footer-h2{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

.h3-design{
    font-family: 'Oswald', sans-serif;
    font-size: 1.875rem;
    color: #A59678;
}

.aside-h3{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
}

.footer-h4{
    color:#A59678;
    font-size: 1.3rem;
    font-family: 'Oswald', sans-serif;
}

.hero_txt{
    line-height: 1.4;
}

.hero_p{
    font-size: 1rem;
    padding-bottom: 2rem;
}

.aside-p{
    font-size: 1rem;
    padding-bottom: 1rem;
}

.third-sec-p{
    font-size: 1rem;
}

.logo{
    font-size: 2rem;
    font-weight: bolder;
    color: white;
}

.nav_button{
    background: #A59678;
    border-radius: 1000px;
    padding: .25rem 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.hero_button{
    background-color: #A59678;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    padding: .1rem 1.5rem;
    border-radius: 1000px;
}

.img_design{
    width: 100%;
    padding: 1.75rem 0;
}

.aside-design{
    background-color: #2E323F;
    color: white;
    text-align: center;
    padding: .5rem 1rem;
    margin: 2rem 0;
}

.list-design{
    list-style: none;
    margin: 0;
    padding: 0;
}



/* Mobile Menu */

header{
    background: var(--background);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.nav-toggle{
    display: none;
}

.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before{
    bottom: 7px;
}

.nav-toggle-label span::after{
    top: 7px;
}

nav{
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-bottom: 1.5em;
    margin-left: 1em;
}

nav a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover{
    color: #000;
}

.nav-toggle:checked ~ nav{
    transform: scale(1,1)
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

/*medium screen sizes*/

@media (min-width:700px) {
    .row{
       display:flex;
       align-items: center;
       justify-content: center;
    }

    .h1-container{
        width: 50%;
    }

    .hero_txt{
        width: 50%;
        margin: 0;
        align-self: flex-end;
        justify-self: center;
    }

    .col + .col{
        margin-left: 30px;
    }

    .hero-background{
        min-height: 500px;
        padding-top: 6rem;
    }

    .two_section_background{
        min-height: fit-content;
        padding-bottom: 1.5rem;
    }

    .footer-background{
        min-height: fit-content;
    }

    .aside-design + .aside-design{
        margin-left: 30px;
    }


    li{
        padding-bottom: .5rem;
    }

    .footer-section{
        width: 25%;
        align-self: flex-start;
    }

    .footer-section + .footer-section{
        margin-left: 20px;
    }
}

/*large screen sizes*/
@media (min-width: 1000px){
    .row, .row-2{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    nav{
        all: unset;
        justify-self: center;
        align-self: center;
    }

    .nav-toggle-label{
        display: none;
    }

    nav a{
        opacity: 1;
    }

    .nav_item{
        margin-left: 2rem;
        padding: 0;
    }

    .hero-background{
        padding: 0;
        min-height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .third-sec-aside{
        flex-direction: column;
        margin: 0 3rem;
    }

    .aside-design{
        margin: 1.5rem 0;
    }

    .aside-design + .aside-design{
        margin-left: 0;
    }

    .h1-container{
        width: 50%;
    }

    .hero_txt{
        width: 45%;
    }

    .footer-about{
        width: 70%;
    }
}